---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "The Power of Done-For-You SEO",
    description:
      "No more wasting money at expensive SEO tools and agencies?  My Done-For-You SEO service is the solution you've been searching for.",
    icon: "mdi:handshake",
  },
  {
    title: "Get to the Top of Local Search",
    description:
      "I use advanced Local Heatmaps to pinpoint exactly where your customers are searching and how you're showing up in their results.",
    icon: "mdi:google-my-business",
  },
  {
    title: "On-page SEO",
    description:
      "Identify technical issues that could be hurting your SEO, such as missing meta tags or slow loading times.",
    icon: "mdi:google",
  },
  {
    title: "Monthly/Weekly Reporting",
    description:
      "Never be left in the dark about your SEO progress. I offer flexible reporting options to keep you informed .",
    icon: "mdi:google-spreadsheet",
  },
  {
    title: "Your Keyword Data My Tracking",
    description:
      "Keyword tracking and paying extra for more data? Say goodbye to those restrictions and unlock the full potential of your SEO insights",
    icon: "mdi:google-analytics",
  },
  {
    title: "SEO Optimized Press Releases ",
    description:
      "I leverage Signal Genesys, a cutting-edge platform that turns press releases into powerful SEO signals.",
    icon: "mdi:newspaper",
  },
];
---

<ContentSection title="SEO That Delivers Results" id="features">
  <Fragment slot="lead">
      Are you tired of wasting money on expensive SEO tools that don't deliver? <span class="text-primary"> </span>

    <span class="text-primary"> </span>
     <span class="text-primary"> </span> 
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
