---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Just Rank Fast" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
 Stop Wasting Money on <span class="text-primary">SEO Tools </span>
    <span class="text-primary"> </span>
    I Get You  <span class="text-primary">  Results</span> and Save You Cash.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href=" "
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Claim Your Free Audit</span>
    </a>
    <a
      href=" "
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Show Me Pricing</span>
    </a>
  </div>
</ContentSection>
